VITE_MSAL_CLIENT_ID=f098e0da-0bb4-4c5a-9434-1144052aa11b
VITE_MSAL_REDIRECT_URI=http://localhost:5173
VITE_MSAL_AUTHORITY=https://login.microsoftonline.com/ab37e367-ea25-45f6-9162-084eebd4efca
VITE_GRAPH_ME_ENDPOINT=https://graph.microsoft.com/v1.0/me
VITE_GRAPH_CHATS_ENDPOINT=https://graph.microsoft.com/v1.0/me/chats
VITE_ABLY_API_KEY=your_ably_api_key_here
